.calculator {
  width: 7rem;
  position: relative;
  font-size: 1.2rem;
  border: none;
  box-sizing: border-box;
  background: var(--ui-background);
  display: flex;

  input {
    width: 3rem;
    height: 2.2rem;
    text-align: center;
    border: 1px solid var(--ui-transparent);
    border-radius: .5rem;
    background: var(--ui-background);
  }

  button {
    width: 30%;
    background: var(--ui-transparent);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
  }
}