.header {
  width: 100%;
  position: fixed;
  transition: background-color .5s;
  z-index: 9;
  color: var(--text-02);
  text-align: center;
  backdrop-filter: blur(.2rem);
  box-shadow: 0 0.1rem 1.5rem 0.1rem rgba(0,0,0,.1);

  &.header--blur {
    background-color: rgba(0,0,0,.15);
    backdrop-filter: blur(.2rem);
    box-shadow: 0 0.1rem 1.5rem 0.1rem rgba(0,0,0,.1);
  }

  nav {
    display: inline-block;

    .menu {
      display: inline-flex;
      justify-content: center;
      gap: 1rem;
      font-size: 1.4rem;

      li {
        padding: 1.5rem 2.5rem;
        transition:.5s;

        a {
          width: 100%;
          display: inline-block;
          text-align: center;
          padding: .5rem;
        }

      }

      .char {
        --delay: calc((var(--char-index) + 1) * 200ms);
        animation: breathe 1500ms both;
        animation-delay: var(--delay);
      }
    }
  }

  .category {
    font-size: 1.4rem;

    ul {
      display: grid;
      grid-template-columns: repeat(15, minmax(0, 1fr));

      li {
        overflow: hidden;
        padding: 1rem;
        border-radius: 3em;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.2s;
        margin-bottom: 1rem;

        &:first-child {
          grid-column-start: 5;
        }


        a {
          display: inline-block;
          animation: slideIn .3s ease-out;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }


  .gnb {
    max-width: 128rem;
    margin: 0 auto;
    position: relative;
  }

  .search_wrap {
    display: inline-block;
  }

  .actions {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

}

@media all and (min-width: 768px) and (max-width: 1023px) {
}

@media all and (max-width: 767px) {
  .header {
    box-sizing: border-box;
    width: 100%;
    background: var(--ui-transparent);
    box-shadow: none;
    padding: 1.5rem 1rem 1rem;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.m_header_color {
      background-color: rgba(0,0,0,.15);
      backdrop-filter: blur(.2rem);
      box-shadow:  0 0.1rem 1.5rem 0.1rem rgba(0,0,0,.1);
    }
  }

  .side_menu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    color: var(--text-01);
    z-index: 10;
    padding: 1.5rem 1rem;
    backdrop-filter: blur(5px);
    transform: translateX(-100%);
    transition: transform .6s ease-in-out;
    text-align: center;

    &.open {
      transform: translateX(0);
    }
  }

  .m_title {
    font-weight: 700;
    font-size: var(--fs-16);
  }
  .m_sub_title {
    font-weight: 600;
    font-size: var(--fs-14);
  }

  .category {
    font-size: var(--fs-14);
    font-weight: 500;

    li {
      padding-bottom: 1.6rem;
    }
  }

  .menu_btn_wrap {
    border-radius: 100%;
    width: 3.2rem;
    height: 3.2rem;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}