.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-row-gap: .5rem;
  margin-bottom: 10rem;
}

.product {
  max-width: 30rem;
  height: 50rem;

  .product_brand {
    font-size: 1.2rem;
  }
  .product_name {

  }
}

@media only screen and (max-width: 767px) {
  .product_list {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 0;
  }
}