.product {
  --gradient-01-a: #d4145a;
  --gradient-01-b: #fbb03b;

  width: 100%;
  max-width: 32rem;
  font-size: 1.4rem;
  text-align: start;
  color: #0e0e0c;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  padding-top: 1rem;
  display: inline-block;
  padding-right: 2rem;

  button {
    background: transparent;
  }

  a:link, a:visited {
    color: #2d2d2d;
  }

  .thumbnail_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 100%;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    font-size: var(--fs-24);
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: var(--ui-01);
    color: var(--text-02);
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .product_badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .btn_favorite {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    z-index: 1;
    border: transparent;
    cursor: pointer;

    > img {
      width: 1.5em;
      height: 1.5em;
    }
  }

  .bg_link {
    position: relative;
    &:link, &:visited {
      text-decoration: none;
    }
  }

  .img_wrap {
    overflow: hidden;
    position: relative;
    padding-top: 120%;
  }

  .product_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info_wrap {
    margin-top: 1rem;
    position: relative;
  }

  .hidden_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-indent: -999rem;
    &:link, &:visited {
      text-decoration: none;
    }
  }

  .brand_name {
    font-weight: 600;
    margin-bottom: .7rem;
    font-size: .8em;
    word-break: break-all;
    color: #2d2d2d;
  }

  .product_title {
    color: #2d2d2d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: .8rem;
  }

  .product_amount {
    display: inline-block;
    font-weight: 700;
    font-size: 0.8em;
    color: #2d2d2d;
  }

  .product_cost {
    display: inline-flex;
    align-items: start;
    text-decoration: line-through;
    color: #777;
  }
  .product_discount {
    display: inline-block;
    background: linear-gradient(90deg, var(--gradient-01-a), var(--gradient-01-b));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    margin-left: .5rem;
  }
}

.badge {
  display: inline-block;
  padding: .3em 1.7em;
  font-size: 1.2em;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(135deg, #879af2, #d3208b, #fda000);
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width:767px) {
  .product {
    font-size: 1rem;
    padding: 0;
    //padding: .5rem 0 0 .5rem;

    .btn_favorite {
      > img {
        width: 2em;
        height: 2em;
      }
    }

    .thumbnail {
      width: min(50vw, 100%);
      height: 100%;
      border-radius: 0;
    }

    .product_img {
      border-radius: .8em;
    }
    .brand_name {
      font-size: 1.1em;
      margin-bottom: .2em;
    }
    .product_title {
      font-size: 1.3em;
      margin-bottom: .6em;
    }
    .product_amount {
      font-size: 1.1em;
    }
    .product_cost {
      font-size: .8em;
    }
    .product_discount {
      font-size: 1em;
    }
  }

  .badge {
    font-size: 1em;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
  }
}